@import url('../font/Webfonts/fontiran.min.css');
@import "animations.css";

:root {
    --white-color: #fff;
    --black-color: #000;
    --primary-color: #2E3192;
    --border-color: #F7F8FA;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "IRANSansX", sans-serif;
}
body {
    overflow-x: hidden;
}
a {
    text-decoration: none;
}
ul, ol {
    list-style-type: none;
}

/* nav */
nav {
    width: 100%;
    z-index: 1;
    background-color: var(--white-color);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid #ccc;
}
nav .row {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .right .logo {
    display: flex;
    align-items: start;
    justify-content: end;
}
nav .right .logo img {
    margin-right: 15px;
}
nav .left {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 20px;
}
nav .left .top, .bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px 0;
}
nav .left .bottom .log-in, .slide-navbar .log-in {
    background-color: var(--primary-color);
    padding: 8px 15px;
    margin-right: 10px;
    border-radius: 20px;
    font-size: 15px;
    display: flex;
    justify-content: center;
}
nav .left .bottom .log-in a {
    color: var(--white-color);
}
nav .left .bottom .phone a {
    color: var(--black-color);
}
nav .left .bottom .log-in span, .slide-navbar .log-in span {
    margin-left: 5px;
}
nav .left .top form {
    border: 1px solid var(--black-color);
    display: flex;
    align-items: center;
    padding: 10px 20px;
    width: 60vh;
    border-radius: 30px;
}
nav .left .top form input {
    outline: none;
    border: none;
    background-color: inherit;
}
nav .left .top form button {
    background-color: transparent;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav .left .top form button i {
    margin-left: 10px;
    font-size: 20px;
}
nav .left .top .items li a {
    font-size: 15px;
    font-weight: bold;
    color: var(--black-color);
    margin-left: 10px;
}
nav .left .top .items .dropdown button {
    background-color: inherit;
    border: none;
    display: flex;
    align-items: center;
    margin: 8px 0;
    font-size: 15px;
    font-weight: bold;
}
@media only screen and (max-width: 1200px) {
    .custom-navbar {
        display: none;
    }
}
/* end nav */

/* slide-navbar */
.slide-navbar {
    width: 100%;
}
.slide-navbar .navbar {
    background-color: var(--white-color);
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.20);
    border-bottom: 1px solid #ccc;
}
.slide-navbar .navbar .logo {
    display: flex;
    align-items: center;
}
.slide-navbar .navbar .logo span {
    font-size: 25px;
    margin-top: 15px;
}
.slide-navbar .phone {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}
.slide-navbar form {
    border: 1px solid gray;
    border-radius: 30px;
    padding: 5px 3px;
}
.slide-navbar form, .slide-navbar .phone, .slide-navbar .log-in {
    margin: 10px 5px;
}
.slide-navbar form input {
    outline: none;
    border: none;
    background-color: inherit;
}
.slide-navbar .phone i {
    margin-right: 5px;
}
.slide-navbar .line {
    background-color: gray;
    width: 40px;
    height: 3px;
}
.slide-navbar .menu-button {
    color: var(--black-color);
    background-color: inherit;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
}
.slide-navbar .menu-button:focus {
    outline: none;
}
.slide-navbar .dropdown {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background-color: #f9f9f9;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    transition: right 0.3s ease;
    padding-top: 60px;
    z-index: 2;
}
.slide-navbar .dropdown .items a {
    color: var(--black-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.slide-navbar .dropdown .items a:hover {
    background-color: #ddd;
}
.slide-navbar .dropdown.open {
    right: 0;
}
.slide-navbar .phone a {
    color: var(--black-color);
    margin: 15px 0;
}
.slide-navbar .log-in a {
    color: var(--white-color);
}
.slide-navbar .close-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}
.slide-navbar .close-button:focus {
    outline: none;
}
.slide-navbar .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1;
}
.slide-navbar .overlay.active {
    display: block;
}
@media only screen and (min-width: 1200px) {
    .slide-navbar {
        display: none;
    }
}

/* end slide-navbar */



/* contact-us */
.contact-us{
    padding: 120px 300px;
}
.contact-us .title{
    margin-bottom: 30px;
}
.first-right h3{
    margin: 30px 0px;
}
.first-right img{
    width: 3%;
    margin-left: 8px;
}
.first-right li{
    list-style: none;
    display: flex;
    align-items: baseline;
    margin-bottom: 20px;
}
.first-right a{
    color: black;
}
.first-right .social{
    height: 100px;
}
.first-right .social img{
    width: 50px;
    margin-left: 15px;
}
.first-left{
    width: 550px;
    background-image: url(/assets/img/address.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 700px;
}
.first-right span{
    color: #0118D8;
}
/* end contact-us */



/* footer */
.footer {
    background-color: #070707;
    padding: 30px 50px 0;
}
.footer p {
    color: var(--white-color);
    line-height: 2;
    font-size: 14px;
}
.footer .information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.footer-item {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    padding: 0 15px;
    margin-bottom: 15px;
}
.footer-item a, .footer-item p, .footer-item ul li {
    font-size: 14px;
    margin-bottom: 10px;
    color: var(--white-color);
    line-height: 2;
}
.footer .footer-item .information i {
    margin-left: 7px;
    color: var(--white-color);
}
.footer .footer-title {
    font-size: 16px;
    font-weight: bold;
    color: var(--white-color);
    margin-bottom: 15px;
}
.footer .information div span, .information div span a {
    color: var(--white-color) !important;
    margin-right: 7px;
}
.footer .footer-social {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer .footer-social a {
    border: 3px solid var(--white-color);
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
    color: var(--white-color);
    text-decoration: none;
    font-size: 20px;
}
.footer .footer-social a:hover {
    color: var(--black-color);
    background-color: var(--white-color);
}
@media only screen and (max-width: 768px) {
    .footer {
        padding: 15px;
    }
}
/* end footer */

@media (max-width: 1400px) {
    /* nav */
    nav .right .logo span{
        font-size: 23px;
    }
    nav .right .logo img{
        width: 50px;
    }
    /* end nav */

    /* contact-us */
    .contact-us{
        padding: 120px 80px;
    }
    /* end contact-us */
    
}
@media (max-width: 1200px) {
    /* nav */
    nav .right .logo img{
        width: 50px;
    }
    /* end nav */

    /* contact-us */
    .contact-us{
        padding: 100px 50px 30px 50px;
    }
    .first-left{
        width: 800px;
        background-image: url(/assets/img/address.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 600px;
    }
    /* end contact-us */
}
@media (max-width: 992px) {
    /* contact-us */
    .contact-us{
        padding: 100px 20px 30px 20px;
    }
    .first-left{
        width: 600px;
        height: 600px;
    }    
    /* end contact-us */

}
@media (max-width: 768px) {
    /* nav */
    .custom-navbar{
        display: none;
    }
    /* end nav */

    /* contact-us */
    .first-left{
        width: 480px;
        height: 500px;
    }    
    /* end contact-us */

}
@media (max-width: 576px) {
    /* contact-us */
    .first-left{
        width: 380px;
        height: 450px;
    }    
    /* end contact-us */
    
}
@media (max-width: 400px) {
    /* contact-us */
    .first-left{
        width: 330px;
        height: 400px;
    }    
    /* end contact-us */
}